<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Bottle" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\Administrator\Desktop\Invites\Invites\Scripts\python.exe %s %s" resourceType="File" />
        </handlers>
        <staticContent>
            <mimeMap fileExtension=".py" mimeType="text/x-script.python" />
        </staticContent>
    </system.webServer>
</configuration>
